/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/** BASE STYLES - mobile first **/

body {
    color: #363636;
    font-family: "Lato", sans-serif;
    font-size: 1em;
}


/** GRID STYLES **/

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

/** HEADER STYLES **/

header {
    background-image: url("../img/hero-img.jpg");
    background-size: cover; 
    width: 100%;
    max-width: 1200px;
    height: 200px;
    margin: auto;
}

header h1 {
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

header a {
    color: #363636;
    text-decoration: none;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.dropdown {
    display: block;
    text-align: center;
    position: relative;
}

.dropdown-content {
    background-color: #ededed;
    display: none;
    width: 100%;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown-content a:hover {
    background-color: #ba8ca3;
    color: #cdcdcd;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropdownbtn {
    color: #ba8ca3;
}


/** ABOUT STYLES **/

main {
    width: 96%;
    padding: 0 2%;
    margin: auto;
}

#about .full-width {
    padding: 80px 0;
}

#about img {
    display: none;
}

#about h2 {
    color: #ba8ca3;
    font-family: "Lobster", cursive; 
    font-size: 2em;
}

#about p {
    color: #363636;
    line-height: 30px;
}

/** FEED STYLES **/

#feed .full-width {
    /*background-color: #ededed;*/ 
    padding: 50px 0;
}

#feed h1 {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    font-weight: lighter;
    letter-spacing: 2px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

#feed h2 {
    font-size: 1em;
    padding: 0 35px;
    text-transform: uppercase;
}

#feed h3 {
    display: none;
    font-size: .7em;
    line-height: 30px;
    padding: 0 35px;
}

#feed p {   
    padding: 0 35px;
}

#feed a {
    text-decoration: none;
    color: #363636;
}

#feed a:hover {
    color: #cdcdcd;
}

#feed input {
    background-color: white;
    border: 1px solid #363636;
    border-radius: 10px;
    color: #363636;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#feed input:hover {
    background-color: #ba8ca3;
    border-color: #ededed;
    color: white;
    transition-duration: 0.5s;
}

#feed input {
    display: block;
    margin: 20px auto;

}


/** FOOTER STYLES **/

footer {
    margin: auto;
    max-width: 1200px;
    min-width: 225px;
    width: 100%;
}

#contact {
    background-color: #cdcdcd;
    width: 96%;
    padding: 5% 2%;
    margin: 0 auto;
    text-align: center;
}

#contact figure {
    width: 20%;
    height: 20%;
    margin: 0 auto;
}

#contact img {
    width: 100%;
    height: auto;
}

#contact p {
    color: white;
    font-size: 0.7em;
    line-height: .5em;
    text-align: center;
}

#contact h2, #contact h3, #contact ul {
    color: white;
    margin: 10px auto;
}

#contact h3 {
    color: #ba8ca3;
    font-family: "Lobster", cursive;
    font-size: 1.5em;
}

#contact a {
    color: white;
    text-decoration: none;
}

#contact a:hover {
    color: #ba8ca3;
}

#contact ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

#contact ul li {
    display: inline-block;
    padding: 0 1%;
}

#contact .fa-envelope-o {
    font-size: 1em;
    padding-left: 10px;
}




/********* DETAIL PAGES ************/










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/******** TABLET STYLES ***********/



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
